.showcase_info {
  position: relative;
  z-index: 1;
  height: 100%;
  padding: 40px;
  background-color: #f2f2f2;
}

.title {
  max-height: 210px;
  font-family: Montserrat, sans-serif;
  color: #484848;
  font-size: 46px;
  line-height: 52px;
  font-weight: 300;
}

.subtitle {
  font-family: Montserrat, sans-serif;
  color: #767676;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.01px;
  text-transform: uppercase;
}

.hero {
  height: 686px;
}

.title-column {
  height: 100%;
}

.main_image {
  height: 100%;
  background-image: url('../images/K01.2.jpg');
  background-position: 0px 0px;
  background-size: cover;
}

.tour_property {
  position: absolute;
  left: auto;
  top: auto;
  right: 0%;
  bottom: 0%;
  margin-right: 24px;
  margin-bottom: 24px;
  border-radius: 5px;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  color: #484848;
  font-size: 12px;
  text-transform: uppercase;
}

.description {
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-size: 16px;
  line-height: 1.75em;
  font-weight: 300;
}

.container {
  margin-top: 60px;
  margin-bottom: 60px;
}

.image {
  width: 88px;
  height: 88px;
  border-radius: 50px;
}

.broker_info {
  width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
}

.broker_name {
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-size: 15px;
  line-height: 0.9em;
  font-weight: 700;
}

.column {
  padding-top: 25px;
}

.broker_email {
  margin-left: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-size: 13px;
  line-height: 1.1em;
  font-weight: 400;
}

.summary_section {
  margin-top: 64px;
  margin-bottom: 0px;
  padding-bottom: 64px;
  border-bottom: 1px solid #ebebeb;
}

.photo {
  position: relative;
  width: 230px;
  height: 164px;
  margin-right: auto;
  margin-left: auto;
  background-color: #000;
  background-image: url('../images/TeneccoLobby_Final.RGB_color.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.photo_column {
  padding-right: 0px;
  padding-left: 0px;
}

.column-4 {
  padding-right: 0px;
  padding-left: 0px;
}

.photo_row {
  margin-bottom: 16px;
}

.caption {
  width: 230px;
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Open Sans', sans-serif;
  color: #484848;
  font-weight: 600;
}

.section_title {
  max-height: 210px;
  margin-top: 175px;
  margin-bottom: 48px;
  font-family: Montserrat, sans-serif;
  color: #002855;
  font-size: 24px;
  line-height: 52px;
  font-weight: 400;
  text-transform: uppercase;
}

.bookmark {
  position: fixed;
  top: 35%;
  z-index: 1;
  display: block;
  width: 150px;
  height: 300px;
  padding-top: 9px;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
}

.anchor_link {
  display: block;
  color: #999;
  line-height: 30px;
  text-decoration: none;
}

.anchor_link:hover {
  color: #0070e0;
}

.link-block {
  display: block;
  color: #0070e0;
  text-decoration: none;
}

.bookmark_lines {
  position: fixed;
  left: -100px;
  top: 35%;
  z-index: 0;
  width: 150px;
  height: 300px;
}

.line_long {
  display: inline-block;
  width: 85%;
  height: 24px;
  border-bottom: 1px solid #0070e0;
}

.line_short {
  display: block;
  width: 72%;
  height: 21px;
  border-bottom: 1px solid #999;
}

.letter_title {
  max-height: 210px;
  margin-top: 0px;
  margin-bottom: 48px;
  font-family: Montserrat, sans-serif;
  color: #002855;
  font-size: 24px;
  line-height: 52px;
  font-weight: 400;
  text-transform: uppercase;
}

.tab-button {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
}

.tab-button.w--current {
  width: 100%;
  border-bottom: 2px solid #09c;
  background-color: transparent;
  color: #09c;
}

.text-block-5 {
  width: 100%;
  text-transform: uppercase;
}

.tabs-menu {
  width: 25%;
  margin-top: 50px;
  margin-bottom: 50px;
  float: left;
  font-family: Montserrat, sans-serif;
  color: #898989;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
}

.tabs-content {
  width: 75%;
  float: right;
}

.tabs-menu-drawings {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: Montserrat, sans-serif;
  color: #898989;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 1px;
}

.tab-button-drawings {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: transparent;
}

.tab-button-drawings.w--current {
  border-bottom: 2px solid #09c;
  background-color: transparent;
  color: #09c;
}

.image-3 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.image-5 {
  display: block;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.image-6 {
  display: block;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.image-7 {
  display: block;
  width: 500px;
  margin-right: auto;
  margin-left: auto;
}

.utility-page-wrap {
  display: inline-block;
  max-height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.slide-163 {
  background-image: url('../images/planning.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.row-10 {
  height: 200px;
}

.slide-159 {
  background-image: url('../images/plant.jpg');
  background-position: 0% 0%;
  background-size: cover;
}

.square_grid_column {
  height: 100%;
}

.slide-162 {
  background-image: url('../images/structure.jpg');
  background-position: 0px 0px;
  background-size: 512px;
}

.slide-155 {
  display: inline-block;
  height: 100%;
  padding-right: 0px;
  padding-bottom: 0px;
  background-image: url('../images/10-FINSA-SANTA-CATARINA.jpg');
  background-position: 50% 50%;
  background-size: 600px;
}

.slide-nav-2 {
  display: none;
}

.slide-158 {
  background-image: url('../images/plant.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.grid_square {
  height: 100%;
}

.grid_square.gray_square {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f8f8f8));
  background-image: linear-gradient(180deg, #f8f8f8, #f8f8f8);
}

.grid_square.dark_gray_square {
  background-color: #767676;
}

.grid_square.dark_blue_square {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#002855), to(#002855));
  background-image: linear-gradient(180deg, #002855, #002855);
}

.slide-157 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(transparent));
  background-image: linear-gradient(180deg, transparent, transparent);
}

.right-arrow-2 {
  display: none;
}

.slide-164 {
  background-image: url('../images/slide_4.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-156 {
  background-image: url('../images/02-FINSA-PUEBLA-II.jpg');
  background-position: 50% 50%;
  background-size: 400px;
}

.slide-161 {
  background-image: url('../images/worker_hands.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.row-9-copy {
  height: 200px;
}

.left-arrow {
  display: none;
}

.grid_square_slider {
  height: 100%;
  border: 1px none #ff0606;
  background-color: transparent;
}

.row-8 {
  height: 200px;
  background-image: url('../images/building_inside.jpg');
  background-position: 50% 100%;
  background-size: cover;
}

.slide-160 {
  background-image: url('../images/04-FINSA-PUEBLA-II.jpg');
  background-position: 100% 0px;
  background-size: cover;
}

.page-container {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}

.image-9 {
  width: 40%;
  margin-top: 100px;
  margin-left: 60px;
}

.columns-3 {
  height: 5%;
  border: 1px solid #000;
}

.div-block-47 {
  display: block;
  width: 100%;
  height: auto;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.cell {
  padding-top: 5px;
  padding-bottom: 5px;
  border-color: #fff #c1c7cd #c1c7cd;
  border-right-style: none;
  border-right-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-left-style: solid;
  border-left-width: 1px;
}

.cell.top {
  border-top: 1px solid #c1c7cd;
}

.cell.top.right {
  border-right-style: solid;
}

.cell.right {
  border-right-style: solid;
}

.table {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.columns-2 {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  border: 0.5px none #c1c7cd;
}

.scope-of-work-project {
  display: block;
  width: auto;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  border: 1px none #000;
  border-radius: 0px;
}

.columns-24 {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}

.columns-23 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: #021839;
}

.text-block-27 {
  text-align: right;
}

.text-block-29 {
  color: #012161;
}

.text-block-31 {
  color: #012161;
  font-weight: 700;
}

.text-block-20 {
  color: #fff;
  font-weight: 400;
}

.text-block-24 {
  color: #012161;
  font-weight: 700;
  text-align: right;
}

.text-block-25 {
  color: #5c5d61;
  text-align: right;
}

.schedule-of-areas-project {
  width: auto;
  height: 100%;
  border: 1px none #000;
}

.text-block-21 {
  color: #fff;
  text-align: right;
}

.project-deployment-project {
  width: 100%;
  height: 100%;
  border: 1px none #000;
}

.general-conditions {
  width: auto;
  height: auto;
  border: 1px none #000;
}

.columns-5 {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}

.breakdown-of-rental-rate {
  width: auto;
  height: auto;
  border: 1px none #000;
}

.text-block-33 {
  text-align: center;
}

.bold-text-4 {
  text-align: center;
}

.columns-9 {
  border-width: 1px;
  border-color: #000;
}

.bold-text-5 {
  font-weight: 400;
  text-align: right;
}

.triple-net-nnn-and-common-area-maintenance-cam {
  width: auto;
  height: auto;
  border: 1px none #000;
}

.div-block-48 {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.utilities-and-public-services {
  width: auto;
  height: auto;
  border: 1px none #000;
}

.div-block-49 {
  display: block;
  width: 90%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}

.paragraph-3 {
  display: block;
  width: 91%;
  margin-right: auto;
  margin-left: auto;
}

.columns-16 {
  display: block;
  width: auto;
  margin-top: 25px;
  margin-right: auto;
  margin-left: auto;
  border-width: 1px;
  border-color: #000;
}

.text-block-34 {
  display: block;
  width: 93%;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  float: left;
  text-align: right;
}

.text-block-41 {
  padding-bottom: 0px;
}

.text-block-37 {
  padding-bottom: 0px;
  line-height: 20px;
}

.columns-19 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #000;
}

.columns-18 {
  width: auto;
  border-style: none;
}

.general-notes-1 {
  width: auto;
  height: auto;
  border: 1px none #000;
}

.acceptance-of-commercial-terms {
  width: auto;
  height: auto;
  border: 1px none #000;
}

.paragraph-4 {
  display: block;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.div-block-51 {
  display: block;
  width: 63%;
  margin-right: auto;
  margin-left: auto;
}

.text-block-36 {
  color: #002060;
  font-weight: 700;
}

.text-block-10 {
  color: #002060;
  font-weight: 700;
}

.areas {
  display: block;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}

.div-block-53 {
  display: block;
  width: 50%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
}

.div-block-54 {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.div-block-55 {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.div-block-56 {
  display: block;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.text-block-44 {
  width: auto;
}

.columns-25 {
  background-color: #021939;
}

.text-block-45 {
  color: #fff;
}

.columns-26 {
  margin-top: 30px;
  border-width: 1px;
  border-color: #000;
  background-color: #021839;
}

.bold-text-6 {
  color: #fff;
  font-weight: 400;
}

.bold-text-7 {
  color: #fff;
  font-weight: 400;
}

.bold-text-8 {
  color: #fff;
  font-weight: 400;
}

.columns-27 {
  margin-right: auto;
  margin-left: auto;
  border-left: 1px solid #fff;
  background-color: #021839;
}

.text-block-46 {
  color: #fff;
}

.text-block-47 {
  color: #fff;
}

.columns-28 {
  border: 1px none #000;
  background-color: #021839;
  color: #fff;
}

.row-deployment {
  display: block;
  width: auto;
  margin-right: auto;
  margin-left: auto;
}

.cell-full {
  margin-right: auto;
  margin-left: auto;
  padding: 5px 10px;
  border-style: none solid solid;
  border-width: 1px;
  border-color: #c1c7cd;
}

.cell-full.top {
  border-top-style: solid;
}

.bold-text-9 {
  font-weight: 400;
}

.text-block-48 {
  text-align: right;
}

.bold-text-10 {
  border-width: 1px;
  border-color: #fff;
  color: #fff;
  font-weight: 400;
}

.bold-text-11 {
  font-weight: 400;
}

.section_first_subtitle {
  max-height: 210px;
  margin-top: 0px;
  margin-bottom: 48px;
  font-family: Montserrat, sans-serif;
  color: #09c;
  font-size: 20px;
  line-height: 52px;
  font-weight: 400;
  text-transform: uppercase;
}

.economic_proposal {
  max-height: 210px;
  margin-top: 175px;
  margin-bottom: 0px;
  font-family: Montserrat, sans-serif;
  color: #002855;
  font-size: 24px;
  line-height: 52px;
  font-weight: 400;
  text-transform: uppercase;
}

.section_economic_subtitle {
  max-height: 210px;
  margin-top: 175px;
  margin-bottom: 48px;
  font-family: Montserrat, sans-serif;
  color: #09c;
  font-size: 20px;
  line-height: 52px;
  font-weight: 400;
  text-transform: uppercase;
}

.anchor_sublink {
  display: block;
  margin-left: 10px;
  color: #999;
  line-height: 30px;
  text-decoration: none;
  text-transform: none;
}

.anchor_sublink:hover {
  color: #0070e0;
}

.button-wrap {
  position: relative;
  left: 851.5px;
  top: -310px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  min-height: 200px;
  min-width: 200px;
  padding: 55px 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
}

.hamburger-wrapper {
  position: absolute;
  z-index: 5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 40px;
  background-color: rgba(0, 40, 85, 0.2);
  box-shadow: 0 6px 14px -4px rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.hamburger-wrapper:hover {
  background-color: #002855;
  box-shadow: 0 8px 18px -4px rgba(0, 0, 0, 0.39);
  -webkit-transform: translate(0px, -2px);
  -ms-transform: translate(0px, -2px);
  transform: translate(0px, -2px);
}

.burger-line {
  width: 22.5px;
  height: 3px;
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 10px;
  background-color: #fff;
}

.list {
  position: absolute;
  left: -99px;
  top: 93px;
  width: 200px;
  padding-left: 0px;
  background-color: #f1f1f1;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
}

.list-item {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}

.list-item:hover {
  background-color: #09c;
  color: #fff;
}

html.w-mod-js *[data-ix="left-30-opacity-0-scroll-1-0s"] {
  opacity: 0;
  -webkit-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
}

html.w-mod-js *[data-ix="left-30-opacity-0-scroll-0-50s"] {
  opacity: 0;
  -webkit-transform: translate(-30px, 0px);
  -ms-transform: translate(-30px, 0px);
  transform: translate(-30px, 0px);
}

@media (max-width: 991px) {
  .square_grid_column.hide {
    display: none;
  }
}

@media (max-width: 767px) {
  .button-wrap {
    margin-bottom: 16px;
  }
}